
SECRET_KEY=

# Base de datos MySQL
BASE_URL=http://127.0.0.1:8000/
DB_NAME=emprendedores_db
DB_USER=root
DB_PASSWORD=tu_contraseña_aqui
DB_HOST=localhost
DB_PORT=3306

# Google OAuth - Client ID de Google Cloud Console
GOOGLE_CLIENT_ID=tu-google-client-id.apps.googleusercontent.com

DEEPSEEK_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX